.actions-item
	padding-right: 30px
	& + .pagination
		margin-top: 125px

	&:not(:first-child)
		margin-top: 95px
	p
		line-height: 25px

.actions-item--title 
	a
		&:hover
			transition: all 0.3s
			color: $main-color

.actions-item--image
	position: relative
	margin-bottom: 40px
	._main
		display: block
		width: 100%

.actions-item--info
	position: absolute
	left: 0
	bottom: 0
	background: $main-color
	text-align: center
	padding: 10px

.actions-item--day
	display: block
	font-size: 60px
	line-height: 45px
	color: white
	font-weight: bold

.actions-item--month,.actions-item-year
	color: white
	font-size: 13px
	text-transform: uppercase

.actions-item--month
	&:after
		content: "-"

.actions-item--share
	span
		color: #93939a
		display: block
		margin-bottom: 8px
		line-height: 14px

.actions-item--links
	justify-content: space-between

.actions-item--details
	padding: 15px 30px
	letter-spacing: 1px

@media(max-width: 1200px)
	.actions-item
		padding-right: 0

@media(max-width: 450px)
	.actions-item--info
		position: initial
	.actions-item--day
		font-size: 35px
		line-height: 30px

