.articles-links
	display: flex
	flex-direction: column
	align-items: baseline

.articles--link
	border-bottom: 1px solid #337ab7
	font-size: 15px
	line-height: 15px
	margin-bottom: 22px
	&:hover
		border-bottom-color: #23527c
