.certificates-item
	align-items: flex-start
	flex-wrap: nowrap
	&:not(:last-child)
		margin-bottom: 80px
	h3
		padding-top: 0
		line-height: 14px
		padding-bottom: 32px
	p
		padding-top: 7px
		padding-bottom: 0
		line-height: 23px
	img
		max-width: 165px
		margin-left: 15px
		display: block

.certificates-item--info
	margin-left: 15px

.certificates-item--details
	display: block
	color: #6e7682
	font-weight: bold
	margin-bottom: 20px
	span
		margin-left: 5px
		font-weight: normal

@media(max-width: 635px)
	.certificates-item
		flex-direction: column
		align-items: center
		img
			margin-bottom: 20px
		h3
			text-align: center
		&:not(:last-child)
			border-bottom: 1px solid #e7e7e7
			padding-bottom: 40px
			margin-bottom: 40px
	.certificates-item--info
		margin-left: 0
