.btn
	font-size: 13px
	display: inline-block
	text-transform: uppercase
	color: white
	background-color: $button-green
	border: none
	padding: 8px 27px
	border-radius: 0
	font-weight: bold
	transition: all 0.3s
	&:hover
		text-decoration: none
		opacity: 0.8
		color: white
	&:focus
		color: white !important


.btn_big
	@extend .btn
	border-radius: 5px
	font-size: 16px
	letter-spacing: 1px
	box-shadow: 0px 4px 0px darken($button-green,10%)
	padding: 15px 35px
	position: relative
	&:hover
		opacity: 1
		transform: translateY(2px)
		box-shadow: 0px 2px 0px darken($button-green,10%)
	&:active
		box-shadow: 0px 2px 0px darken($button-green,10%), 0 0 60px darken($button-green,10%) inset
	&._red
		background-color: $main-color
		box-shadow: 0px 4px 0px darken($main-color,15%)
		&:hover
			box-shadow: 0px 2px 0px darken($main-color,15%)
		&:active
			box-shadow: 0px 2px 0px darken($main-color,15%),0 0 60px darken($main-color,15%) inset
	

form
	input[type='text'],input[type='email'],textarea
		border: none
		display: block
		padding: 12.5px 15px
		color: #383d44
	input[type='text'],input[type='email']
		margin-bottom: 10px
		&:nth-child(odd)
			margin-right: 5px
		&:nth-child(even)
			margin-left: 5px
		flex-grow: 1
	textarea
		flex-grow: 2
		min-height: 145px
	.btn
		margin-top: 25px
		background-color: #0677bb 
		flex: 0 0 100%
		padding: 14px 32px
		margin-bottom: 72px

.flex
	display: flex
	align-items: flex-start
	flex-wrap: wrap

.flex_space-between
	@extend .flex
	justify-content: space-between

.flex_centered
	@extend .flex
	align-items: center

.flex_stretch
	display: flex
	align-items: stretch
	flex-wrap: wrap

.relative
	position: relative

._drop
	display: flex
	align-items: center

.socials
	display: flex
	align-items: center
	a
		height: 25px
		width: 25px
		display: block
		background-size: cover
		padding: 0 !important
		border-top: 0 !important
		&:not(:last-child)
			margin-right: 5px

		&._vk
			background-image: url("../img/vk.png")
		&._facebook
			background-image: url("../img/facebook.png")
		&._odnoklassniki
			background-image: url("../img/odnoklassniki.png")
		&._google
			background-image: url("../img/google-plus.png")
		&._twitter
			background-image: url("../img/twitter.png")

.subheader
	background-color: #ecf0f1

.subheader--title
	font-family: "Roboto Slab", serif
	font-size: 40px
	font-weight: bold
	color: #4a5666
	text-transform: uppercase
	margin: 0

.subheader--icon
	margin-right: 10px

.subheader--breadcrumbs
	a
		font-family: "Roboto Slab", serif
		font-size: 15px
		font-weight: 100
		color: #4a5666
		text-transform: uppercase
		&._current
			color: $main-color
		&:not(:last-child)
			&:after
				content: " / "

.pagination
	display: flex
	margin: 75px 0 0
	a
		display: block
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		color: #34383e
		font-size: 18px
		font-weight: 500
		border: 1px solid #d2d6dc
		&._current,&:hover
			border-color: #0e76bc
		&:not(:last-child)
			margin-right: 10px

.pagination--prev,.pagination--next
	background-color: #0e76bc
	border: 1px solid #0e76bc !important
	background-image: url("../img/pagination-prev.png")
	background-repeat: no-repeat
	background-position: 50% 50%

.pagination--next
	background-image: url("../img/pagination-next.png")

blockquote
	font-family: "Roboto Slab", serif
	font-size: 16px
	font-weight: 100
	line-height: 35px
	display: block
	margin-bottom: 50px
	padding: 5px 40px
	position: relative
	&:before,&:after
		content: ""
		display: block
		position: absolute
		width: 17px
		height: 15px
	&:before
		top: 0
		left: 0
		background-image: url("../img/opening-quote.png")
	&:after
		right: 0
		bottom: 0
		background-image: url("../img/closing-quote.png")

.content
	padding: 105px 15px 115px
	p
		display: block
		margin: 0
		color: #6e7682
		padding-bottom: 25px
	h3
		font-size: 14px
		display: block
		font-family: "Roboto Slab",serif
		font-weight: bold
		line-height: 24px
		padding: 11px 0
		margin: 0
		text-transform: uppercase

	h2
		display: block
		font-size: 24px
		text-transform: uppercase
		font-weight: bold
		font-family: "Roboto Slab", serif
		margin: 0 0 30px
		color: #20262e
		a
			color: inherit
	ul,ol
		padding: 15px 0 35px 15px
		li
			padding-left: 15px
			color: #6e7682
			&:not(:last-child)
				margin-bottom: 25px

	ul
		list-style-image: url("../img/ul-image.png")
	table
		width: 100%
		overflow-y: auto
		tr
			color: #6e7682
			&:not(:last-child)
				border-bottom: 1px solid #dedede
			td,th
				font-size: 14px
				padding: 10px 0
				font-family: "Lato"
			td
				font-weight: 400
			th
				text-transform: capitalize
				color: black
				font-weight: bold

		&:not(:last-child)
			margin-bottom: 60px	

			

	.links-block
		display: flex
		flex-direction: column
		align-items: baseline
		a
			text-decoration: underline;
			font-size: 15px
			line-height: 15px
			margin-bottom: 22px

.contacts-block
	text-transform: uppercase
	
.contacts-block--item
	color: #20262e
	font-size: 13px
	line-height: 30px
	span
		color: #626262

.sidebar--title
	display: block
	display: block
	font-size: 24px
	text-transform: uppercase
	font-weight: bold
	font-family: "Roboto Slab", serif
	margin-bottom: 20px
	color: #20262e

.sidebar--link
	transition: all 0.3s
	color: #8993a1
	font-size: 13px
	display: block
	text-transform: uppercase
	margin-bottom: 15px
	&:before
		transition: all 0.3s
		@include before-icon(url("../img/cross.png"),11px,11px)
		margin-right: 10px
	&:hover
		color: $main-color
		&:before
			background-image: url("../img/cross_red.png");

@media(max-width: 1199px)
	.sidebar--title
		margin-top: 40px
		
@media(max-width: 400px)
	.subheader--title
		font-size: 30px
	.content
		table
			display: block