.company-images
	img
		display: block
		&._front
			position: absolute
			left: 100px
			top: 80px

.company-call
	margin-top: 30px

.company-call--title
	color: #0e76bc
	font-weight: 600
	text-transform: uppercase
	line-height: 27px
	margin-right: 50px
	span 
		display: block
		font-size: 24px
		font-weight: bold
		font-family: "Roboto Slab", serif

.company-call--image
	display: block
	margin-right: 20px

.company-call--number
	font-weight: 300
	color: #4a5666
	font-size: 40px

@media(max-width: 1199px)
	.company-images 
		img
			&._front
				top: 40px
				left: 60px

@media(max-width: 991px)
	.company-images
		display: flex
		justify-content: space-around
		img
			&._front
				position: relative
				top: 0
				left: 0
	.company-call
		justify-content: center

@media(max-width: 560px)
	.company-images
		flex-direction: column
		align-items: center
		img._front
			margin-top: 20px

@media(max-width: 380px)
	.company-call--number
		font-size: 30px
