.doctors-preview-row
	padding: 0 30px 0 15px
	p
		margin-bottom: 50px

.doctor-preview
	margin-bottom: 50px
	&:after
		content: ""
		width: 35px
		display: block
		border-bottom: 3px solid #4a5666
		transition: all 0.3s
	&:hover
		&:after
			width: 100%
			border-bottom-color: $main-color

.doctor-preview--photo
	display: block
	width: 100%
	margin-bottom: 35px 

.doctor-preview--name
	display: block
	text-transform: uppercase
	color: #20262e

.doctor-preview--specialization
	display: block
	color: #6e7682
	margin-bottom: 35px


.doctor--photo
	display: block
	width: 100%
	margin-bottom: 50px

.doctor--brief
	margin-bottom: 50px

.doctor--brief-row
	font-weight: bold
	color: #6e7682
	display: block
	margin-bottom: 10px
	span
		font-weight: normal
		margin-left: 5px

.doctor--brief-enroll
	background: $main-color
	padding: 13px 30px

.doctor--gallery
	position: relative
	padding: 0 40px
	margin-top: 50px

	.slidePrev,.slideNext
		position: absolute
		opacity: 0.8
		cursor: pointer
		top: 0
		left: 0
		top: 50%
		transform: translateY(-50%)
		&:hover
			opacity: 1
	.slideNext
		left: inherit
		right: 0

@media(max-width: 1199px)
	.doctors-preview-row
		padding-right: 15px

@media(max-width: 470px)
	.doctor-preview
		width: 100%
