footer
	text-transform: uppercase
	.container-fluid
		border-top: 1px solid #e3e7ec

	.socials
		margin-left: 25px

	.contacts-block
		padding-right: 100px

.footer-col
	margin-bottom: 95px

.footer-col--title
	font-size: 16px
	font-weight: bold
	margin-top: 60px
	margin-bottom: 35px

.footer-col--links
	display: flex
	flex-direction: column
	font-size: 13px
	align-items: baseline
	a
		display: inline-block
		color: #626262
		border-bottom: 1px solid transparent
		line-height: 14px
		margin-bottom: 7px
		margin-top: 8px
		&:hover
			color: $main-color
			border-bottom-color: $main-color

.footer-col--form
	align-items: baseline
	flex-wrap: nowrap
	input[type="email"]
		text-transform: uppercase
		border: 1px solid #eae9e7
		margin: 0 auto!important
		padding: 13px 15px
		flex: 1
	input[type="submit"]
		background: $main-color
		padding: 15px
		display: inline-block
		flex: none
		margin: 0 auto!important

.footer--copyrights
	display: flex
	align-items: center
	padding: 25px 15px 50px
	justify-content: flex-start
	&._right
		justify-content: flex-end

@media(max-width: 768px)
	.footer-col--title
		text-align: center

	.footer-col--links
		align-items: center

	.footer--copyrights
		justify-content: center !important
		&:first-child
			padding-bottom: 0

	footer .contacts-block
		padding-right: 0
		text-align: center

@media(max-width: 400px)
	.footer-col--form
		flex-wrap: wrap
		input[type="submit"]
			flex: 1

