.partner
	align-items: stretch
	&:not(:last-child)
		margin-bottom: 60px
	h3
		padding-top: 0
	span
		color: #6e7682
		margin-bottom: 5px
		display: inline-block
	a
		display: inline-block
		color: #008dd2
		border-bottom: 1px solid #008dd2
		line-height: 15px
		margin-bottom: 5px
	p
		padding-bottom: 0

.partner--logo
	width: 130px
	height: 130px
	background-position: left top
	background-repeat: no-repeat
	margin-right: 25px

@media(max-width: 600px)
	.partner
		flex-direction: column
		&:not(:last-child)
			border-bottom: 1px solid #e7e7e7
			margin-bottom: 30px
			padding-bottom: 30px

	.partner--logo
		margin-left: 0
		margin-bottom: 20px
		align-self: center
