@font-face
	font-family: 'Lato'
	font-weight: 700
	src: url("../fonts/Lato-Bold.ttf")

@font-face
	font-family: 'Lato'
	font-weight: 400
	src: url("../fonts/Lato-Regular.ttf")

@import 'colors.sass'
@import 'mixins.sass'
@import 'classes.sass'

a:hover,a:focus
	text-decoration: none
	transition: all 0.3s
	opacity: 0.8

body
	font-family: 'Roboto', sans-serif
	position: relative
	&.company
		.content
			h2
				margin-top: 20px
				margin-bottom: 35px
			p
				line-height: 24px
	&.prices
		.content
			h3
				color: $main-color
			th,td
				&:first-child
					width: 80px
				&:nth-child(2)
					padding-left: 15px
					padding-right: 15px
				&:nth-child(3)
					width: 100px
					padding-left: 15px
					padding-right: 15px
				&:last-child
					text-align: right
					width: 80px
	&.pediatrics
		.content
			.links-block,p
				margin-bottom: 45px

.background
	width: 100%
	position: relative
	z-index: 0

.container
	&._serv-and-adv
		padding: 75px 15px 15px
	&._about
		background-repeat: no-repeat
		background-position: left 0
	&._subheader
		padding: 80px 15px 85px
		background-repeat: no-repeat
		background-image: url("../img/actions-subheader.png")
		background-position: 100% 50%
	&._tour
		position: relative
		z-index: 1


.container-fluid
	padding-left: 0
	padding-right: 0
	&._about
		background-color: #eeeeeb
	&._colored
		height: 4px
		padding-left: 15px
		padding-right: 15px

		*
			height: inherit
		._purple
			background: #614989
		._blue
			background: #009bdc
		._yellow
			background: #f8732d
		._red
			background: $main-color
	&._tour
		background-color: #e0e9e8

	&._numbers
		border-top: 1px solid #e3e7ec
	&._company-advantages
		background-color: #e7f0ef
		background-image: url("../img/company-about-background.png")
		background-repeat: no-repeat
		background-position: 95% bottom
		.content
			padding-bottom: 0
	&._pediatrics
		background: url("../img/pediatrics-stars-left.png"),url("../img/pediatrics-stars-right.png")
		background-position: left top, right bottom
		background-repeat: no-repeat
		background-color: #a1d6f1
		.container
			&._subheader
				background-image: url("../img/pediatrics-boys.png")
				background-repeat: no-repeat
				background-position: 75% 36%
		.subheader--title
			color: white
		.subheader--breadcrumbs a
			color: white
			&._current
				color: #33bced



body
	margin: 0

@import 'widget.sass'
@import 'header.sass'
@import 'index.sass'
@import 'actions.sass'
@import 'articles.sass'
@import 'doctors.sass'
@import 'company.sass'
@import 'certificates.sass'
@import 'contacts.sass'
@import 'partners.sass'
@import 'footer.sass'

@media(max-width: 1615px)
	.container-fluid 
		&._company-advantages
			background-image: none

@media(max-width: 1199px)
	.container-fluid 
		&._pediatrics
			background-image: none
			.container
				&._subheader
					background-position: 100% 36%

	.container
		&._subheader
			background-position: 250px center
	body
		&.company
			.widget
				display: none

@media(max-width: 991px)
	.container-fluid
		&._pediatrics
			.container
				&._subheader
					background-position: 250px center

	.tour--title
		margin-top: 30px
	.container
		&._tour
			padding: 30px 15px

@media(max-width: 768px)
	.container
		&._subheader
			background-image: initial

@media(max-width: 365px)
	.container-fluid
		&._pediatrics
			.container
				&._subheader
					background-image: none
			.subheader--icon
				display: none

