.widget
	display: block
	right: 0
	top: 700px
	background-color: #064570
	border-radius: 5px
	position: absolute
	text-align: center
	.tab
		padding: 20px 25px
		background-color: #0e76bc
		border-radius: 5px
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		z-index: 5
		transition: all 0.3s
		position: relative
		&:nth-child(2)
			background-color: #09629e
			z-index: 4
			padding: 12px 25px
			height: 100%
			&:before
				content: ""
				display: block
				position: absolute
				top: -10px
				left: 0
				right: 0
				bottom: 0
				background: #09629e
				z-index: -1
			&:hover
				transform: translateY(10px)
		&:last-child
			background-color: #064570
			z-index: 3
			padding: 12px 25px
			&:hover
				transform: translateY(10px)
		a
			color: white
			text-transform: uppercase
			display: block
			margin: auto
			text-align: center
			font-weight: bold

	.weather--day,.weater--date,.weather--degrees,.weather--icon
		display: block
		color: white

	.weather--day,.weather--degrees
		font-weight: bold
		text-align: center
		text-transform: uppercase

	.weather--degrees
		font-size: 45px

	.weater--date
		&:after
			content: ""
			display: block
			border-bottom: 1px solid white
			width: 75%
			margin: 15px auto 0

@media(max-width: 1100px)
	.widget
		display: none
