footer
	.container-fluid
		.container
			.row
				.col-md-4.col-sm-6.footer-col
					.footer-col--title меню
					
					.row
						.col-xs-6.footer-col--links
							a(href="#") о компании
							a(href="#") услуги
							a(href="#") цены
							a(href="#") наши врачи
						.col-xs-6.footer-col--links
							a(href="#") новости
							a(href="#") акции
							a(href="#") статьи
							a(href="#") контакты
					
				.col-md-4.col-sm-6.footer-col
					.footer-col--title КОНТАКТНАЯ ИНФОРМАЦИЯ
					.contacts-block
						.contacts-block--item адрес : 
							span г. Вышний Волочек, Казанский пр-т , Д.151

						.contacts-block--item телефон : 
							span + 7 (4822) 51-69-78

						.contacts-block--item ЭЛ. ПОЧТА : 
							span  INFO@KOMIR.RU
				.col-md-4.footer-col
					.footer-col--title подписаться на новости
					form.footer-col--form.flex
						input(type="email" placeholder="эл.почта")
						input(type="submit" value="отправить").btn
	.container-fluid
		.container
			.row
				.col-sm-6.footer--copyrights
					span._left © 2016 «КОМИР». Все права защищены
					.socials
						a(href="#")._vk
						a(href="#")._facebook
						a(href="#")._odnoklassniki

				.col-sm-6.footer--copyrights._right
					span._right Разработка сайта – 
						a(href="#") holmax.ru
